# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual envs
.venv/
venv/

# Data and models (keep CSV schemas optional)


# Logs
*.log
/data/*.log

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
